<template>
  <div class="profile">
    <div class="card mt-4" style="width: 20rem;">
      <img :src="profile.avatar" :alt="profile.name" class="card-img-top avatar">
      <div class="card-body">
        <div class="profile-content">
          <div>
            <h5 class="card-title">{{ profile.name }}</h5>
            <a :href="`mailto:${profile.email}`" class="card-link">{{ profile.email }}</a>
          </div>
          <p class="card-text description">{{ profile.description }}</p>
          <p class="card-text specializations">Specializations: {{ profile.specializations }}</p>
        </div>
        <div class="likes">
          <button class="like-button" @click="likeProfile">{{ liked ? '💚' : '👍' }}</button>
          <span class="likes-value">{{ profile.likes }}</span>
          <button class="dislike-button" @click="dislikeProfile">{{ disliked ? '💔' : '👎' }}</button>
          <span class="dislikes-value">{{ profile.dislikes }}</span>
        </div>
      </div>
      <div>
        <input class="form-control comment-input comment" v-model="commentText" :placeholder="commentPlaceholder">
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "ProfileCard",

  props: {
    profile: {
      type: Object,
      required: true
    }
  },

  data() {
    return {
      commentText: "",
      commentPlaceholder: "Write your comment...",
      liked: false,
      disliked: false
    };
  },

  methods: {
    likeProfile() {
      this.liked = !this.liked;
      if (this.liked) {
        this.profile.likes++;
        if (this.disliked) {
          this.profile.dislikes--;
          this.disliked = false;
        }
      } else {
        this.profile.likes--;
      }
    },

    dislikeProfile() {
      this.disliked = !this.disliked;
      if (this.disliked) {
        this.profile.dislikes++;
        if (this.liked) {
          this.profile.likes--;
          this.liked = false;
        }
      } else {
        this.profile.dislikes--;
      }
    }
  }
};
</script>

<style scoped>
.card {
  border: solid 1px rgb(172, 172, 172);
  box-shadow: 0 14px 18px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-body {
  display: flex;
  align-items: center;
}

.profile-content {
  flex-grow: 1;
}

.card-title {
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  font-weight: bold;
}

.card-link {
  color: #007bff;
  text-decoration: none;
}

.description {
  margin-top: 5px;
}

.likes {
  color: #000;
  margin-top: 10px;
}

.like-button,
.dislike-button {
  background: none;
  border: none;
  cursor: pointer;
}

.like-button:focus,
.dislike-button:focus {
  outline: none;
}

.comment {
  display: flex;
  background-color: #fff4f4!important;
}

.comment-input {
  flex-grow: 1;
}

.avatar {
  height: 125px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
</style>
