<template>
  <div id="app" class="my-5">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="section">
            <div class="flex-row mb-3">
              <label class="form-label" for="filter">Find Profile:</label>
              <input type="text" class="form-control" v-model="filterText">
            </div>
            <div class="buttons">
              <button class="btn btn-secondary mx-3" @click="sortAsc">▲</button>
              <button class="btn btn-secondary" @click="sortDesc">▼</button>
            </div>
            <ProfileCard
                v-for="(profile, index) in filteredProfiles"
                :key="index"
                :profile="profile"
                @like="likeProfile(index)"
                @dislike="dislikeProfile(index)"
                class="profile"
            />
          </div>
        </div>
        <div class="col-md-6 offset-2">
          <div class="section">
            <p class="header">Add new profile:</p>
            <div class="mb-3">
              <label for="name" class="form-label">Name:</label>
              <input type="text" class="form-control" id="name" v-model="newProfile.name" @keyup="validateName">
              <div class="error-message" v-if="nameError">{{ nameError }}</div>
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email:</label>
              <input type="email" class="form-control" id="email" v-model="newProfile.email" @keyup="validateEmail">
              <div class="error-message" v-if="emailError">{{ emailError }}</div>
            </div>
            <div class="mb-3">
              <label for="specialisation" class="form-label">Description:</label>
              <input type="text" class="form-control" id="specialisation" v-model="newProfile.description">
            </div>
            <div class="mb-3">
              <label class="form-label">Specializations:</label>
              <div v-for="(specialization, index) in specializations" :key="index" class="form-check">
                <input
                    class="form-check-input"
                    type="checkbox"
                    :id="specialization.id"
                    :value="specialization.name"
                    v-model="newProfile.specializations"
                >
                <label class="form-check-label" :for="specialization.id">
                  {{ specialization.name }}
                </label>
              </div>
            </div>
            <button @click="addProfile" :disabled="nameError || emailError || !newProfile.name || !newProfile.email" class="btn btn-primary">Add</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ProfileCard from "./components/ProfileCard";

export default {
  name: "App",

  components: {
    ProfileCard
  },

  data() {
    return {
      profiles: [
        {
          id: 1,
          name: "Wojciech",
          email: "wojciech@poz.pl",
          description: "Anaesthesiologist",
          likes: 34,
          dislikes: 5,
          avatar: require("@/assets/images/doctor.jpg")
        },
        {
          id: 2,
          name: "Maria",
          email: "maria@poz.pl",
          description: "Radiologist",
          likes: 28,
          dislikes: 7,
          avatar: require("@/assets/images/doctor.jpg")
        },
        {
          id: 3,
          name: "Anna",
          email: "anna@poz.pl",
          description: "Surgeon",
          likes: 53,
          dislikes: 2,
          avatar: require("@/assets/images/doctor.jpg")
        }
      ],
      filterText: "",
      newProfile: {
        name: "",
        email: "",
        description: "",
        specializations: []
      },
      nameError: "",
      emailError: "",
      specializations: [
        { id: 1, name: "Surgeon" },
        { id: 2, name: "Radiologist" },
        { id: 3, name: "Cardiologist" },
        { id: 4, name: "Psychiatrist" },
        { id: 5, name: "Dermatologist" }
      ]
    };
  },

  computed: {
    filteredProfiles() {
      return this.profiles.filter((profile) =>
          profile.name.toLowerCase().includes(this.filterText.toLowerCase())
      );
    }
  },

  methods: {
    sortAsc() {
      this.profiles.sort((a, b) => a.likes - b.likes);
    },
    sortDesc() {
      this.profiles.sort((a, b) => b.likes - a.likes);
    },
    addProfile() {
      if (
          this.newProfile.name &&
          this.newProfile.email &&
          this.newProfile.description
      ) {
        const newId = this.profiles.length + 1;
        const newProfile = {
          id: newId,
          name: this.newProfile.name,
          email: this.newProfile.email,
          description: this.newProfile.description,
          likes: 0,
          dislikes: 0,
          specializations: this.newProfile.specializations.join(", ")
        };
        this.profiles.push(newProfile);
        this.newProfile = {
          name: "",
          email: "",
          description: "",
          specializations: []
        };
      }
    },
    validateName() {
      const regex = /^[a-zA-Z\s]+$/;
      if (!regex.test(this.newProfile.name)) {
        this.nameError = "Only English characters are allowed.";
      } else {
        this.nameError = "";
      }
      console.log(this.nameError)
    },
    validateEmail() {
      const regex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
      if (!regex.test(this.newProfile.email)) {
        this.emailError = "Invalid email format.";
      } else {
        this.emailError = "";
      }
    },
    likeProfile(index) {
      this.profiles[index].likes++;
      this.profiles[index].dislikes--;
    },
    dislikeProfile(index) {
      this.profiles[index].likes--;
      this.profiles[index].dislikes++;
    }
  }
};
</script>

<style scoped>
.error-message {
  color: red;
}
button:disabled {
  opacity: 0.5;
  pointer-events: none;
}
.section {
  width: 100%;
  min-width: 300px;
  padding: 2em;
  margin-top: 30px;
  position: relative;
  background: #fafafa;
}

.header {
  color: #000;
  font-weight: bold;
}
</style>
